.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.is-flex .box {
    background: none;
    position: static;
    padding-bottom: 30px;
    margin-top: 40px;
}
.is-flex [class*="col-"] {
    background: #fff;
}

.row.is-flex .box a.anchor {
    position: absolute;
    bottom: 0;
    width: 95%;
}

.hilite-red, .hilite-yellow {
    padding: 5px;
    border-radius: 5px;
}

.hilite-red, .hilite-yellow {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.hilite-red {
    background-color: #bb0000;
}

.hilite-yellow {
    background-color: #ecb10b;
}

.hilite-none {
    display: none;
}

.logobox {
    background-color: #fff;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 20px;
}